/*
   1.Can't wrap the heading properly while screen size decreses by width

*/
body{
    margin: 20px;
}
.heading{
    padding:10px;
    display: flex;
    justify-content:space-between;
    box-shadow:0px 0px 5px rgb(180, 178, 178);
    border-radius: 20px;
}
.nav-1,.nav-2{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}
a{
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: rgb(146, 144, 142);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
}

a:hover{
    border-radius: 20px;
    color:rgb(73, 73, 70);
    font-weight: 600;
}

.section{
    height: 900px;
    margin-top: 35px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.div-1{flex: 4;}
.div-2{flex: 6;}
.div-3{flex: 3;}
.div-2,.div-3{
    /*height: 600px;*/
    margin:30px;
    border-radius: 20px;
    align-items: center;
    align-content: center;
    text-align: start;
    box-shadow:0px 0px 5px rgb(180, 178, 178);
}
.div-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.image{
    margin: 20px;
    padding: 5px;
    box-shadow:0px 0px 5px rgb(180, 178, 178);
    width: 158px;
    border-radius: 20px;
}
.div-1-1{flex: 9;}
.div-1-2{flex: 10;}

.div-1-1,.div-1-2{
    margin: 30px;
    box-shadow:0px 0px 5px rgb(180, 178, 178);
    border-radius: 20px;
}
.info{
    font-size: 20px;
    color: rgb(158, 157, 157);
    font-weight:600;
    margin: 0px;
}
.username{
    color: rgb(131, 131, 131);
    font-weight: 600;
    margin: 0px;
    font-size:15px;
}
.location{
    color: rgb(70, 68, 68);
}
.more{
    display:flex;
    justify-content: space-around;
    border-radius: 20px;
    box-shadow:0px 0px 5px rgb(180, 178, 178);
    margin: 30px;
    font-size: 20px;
}
.info,.username,.location,.more{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.footer{
    height:100px;
    margin:30px;
    padding:10px;
    display: flex;
    justify-content:space-between;
    box-shadow:0px 0px 5px rgb(180, 178, 178);
    border-radius: 20px;
}
.paragraph{
    color: rgb(90, 88, 88);
    margin:30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.h1{
    font-size:50px;
    font-weight: 500;
    color: rgb(105, 103, 103);
    margin:30px;
}

.img{
    border-radius: 10px;
    border: 6px solid rgb(240, 236, 236);
    margin-inline-start: 90px;
    width:370px;
    display:flex;
    
}

